.News {
  width: 20%;
  padding: 20px;
  height: 620px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
}

.news-div {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  background-color: lightgrey;
  width: 100%;
  padding: 30px 5%;
}

.head {
  background-color: white;
  padding: 20px 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  width: 10%;
  padding: 10px;
  font-size: 18px;
  margin-right: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #000;
  background-color: #f0e68c;
}

.news-img {
  width: 100%;
  height: 200px;
  background-color: blue;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-img img {
  width: 100%;
}

.source {
  display: flex;
  justify-content: space-between;
  color: gray;
}
